@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

body {
    font-family: 'Fira Code', monospace;
    background: url('./img/backgrund.avif') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow-x: hidden;
    text-align: left;
    line-height: 1.6;
    color: #fff;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
}

.nav-link:hover {
  background: #ff6d40;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #333;
  border-radius: 8px;
}

.text-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 8px;
  color: #6fca97;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial, sans-serif';
}

.text-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ff6d40;
}

.text-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #fff;
}

.get-started-btn {
  padding: 0.5rem 1rem;
  background: #ff6d40;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.get-started-btn:hover {
  background: #ff3b1f;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}

.input-form {
  display: flex;
  gap: 1rem;
}

.input-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  flex: 1;
}

.add-todo-btn {
  padding: 0.5rem 1rem;
  background: #ff6d40;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.add-todo-btn:hover {
  background: #ff3b1f;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #333;
  border-radius: 8px;
}

.todo.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo input[type="checkbox"] {
  margin-right: 1rem;
}

.remove-todo-btn {
  margin-left: 1rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ff6d40;
  font-size: 1.2rem;
  cursor: pointer;
}

.remove-todo-btn:hover {
  color: #ff3b1f;
}

.todo-summary {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.all-completed {
  animation: allCompletedEffect 1s ease-in-out;
}

@keyframes allCompletedEffect {
  0% { background-color: rgba(0, 0, 0, 0.8); }
  50% { background-color: #6fca97; }
  100% { background-color: rgba(0, 0, 0, 0.8); }
}


